body {
    background-color: #fffbf0;
}

/* Header Style Start */

header {
    background-color: #404040;
    display: flex;
}

header h1 {
    display: flex;
    background-color: #a0c0c0;
    padding: 0px 5px 0px 50px;
    align-items: center;
}

/* Nav Style Start */

nav {
    display: flex;
    margin-left: auto;
    order: 2;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
    font-size: 22px;
}

nav ul a {
    color:#a0c0c0;
    text-decoration: none;
    margin-right:20px;
    padding: 0px 10px 0px 10px;
    border-bottom: 3px solid #a0c0c0;
}

/* Hero Style Start */

.hero {
    background-image: url("../images/universe.jpg");
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    background-attachment: fixed;
    flex-direction:column;
    padding:6% 6% 0;
  }

.herotext {
    background-color:#a0c0c0;
    text-align: right;
    color: #404040;
    font-size: 25px;
    align-self:flex-end;
    margin-bottom:15px;
    font-weight:900;
}