body {
    background-color: #fcf9ec;
}

/* Header */

header {
    background-color: #404040;
    display: flex;
}

header h1 {
    display: flex;
    background-color: #a0c0c0;
    padding: 0px 5px 0px 50px;
    align-items: center;
}

/* Header End */

/* Navigation */

nav {
    display: flex;
    margin-left: auto;
    order: 2;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
    font-size: 22px;
}

nav ul a {
    color:#a0c0c0;
    text-decoration: none;
    margin-right:20px;
    padding: 0px 10px 0px 10px;
    border-bottom: 3px solid #a0c0c0;
}

/* Navigation End */

/* Hero Image */

.hero {
    background-image: url("../images/dollar.png");
    display:flex;
    flex-direction:row-reverse;
    height:250px;
  }

.herotext {
    background-color:#a0c0c0;
    text-align: right;
    color: #404040;
    font-size: 25px;
    align-self:flex-end;
    margin: 0px 5.5% 15px 0px;
    font-weight:900;
}

/* Hero Image End */

/* About Me Section */

.container {
    display:flex;
}

.section-title {
    font-size: 40px;
    min-width:13%;
    justify-content: space-evenly;
}

#aboutme {
    display:flex;
    margin: 3% 0px 0px 10%;
}


.aboutmetext {
    min-width:50%;
    margin-left: 1%;
    margin-top: 7px;
    border-left: 3px solid #404040;
    padding-left:20px;

}